.logout-content{
    margin-top: 220px;
    margin-left: 640px;

}
.logout-content h1{
   font-size: 42px;
   font-family: poppins,sans-serif;
   font-weight: 600;
   
}

.content-text{
    margin: 20px;
    
}