*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;

}
.sidebar{
    background: rgb(0,7,41);
    color: white;
    height: 97vh;
    border-radius: 0 0 2rem;

}
.top_section{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
 
   margin-left: 12px;
    font-size:18px;
   
    color: white;
}
.logo span{
    color:skyblue;
}

.routes{
    color: white;

}
.bars{
    margin:12px;

}
.search{
    display: flex;
    align-items: center;
    margin: 10px 0;
  height: 30px;
  padding: 10px;

}
.search input{
    border: none;
    width: 160px;
    margin-left: 10px;
    border-radius: 5px;
     background: rgb(238,238,238);
     padding: 5px 10px;
}
.link{
    display: flex;
    color: white;
    gap: 10px;
    padding: 5px 10px;
    border-right:4px solid transparent;
    transition: .2s cubic-bezier(0.6,-.28,.735,.045);
}
.link:hover{
    border-right: 4px solid white;
    transition: .2s cubic-bezier(0.6,-.28,.735,.045);
    background:rgb(45,51,89);
}